img {
  width: 120px;
  height: 180px;
}

label {
  margin-left: 30px;
}

#timer {
  font-size: large;
  text-align: left;
  border: none;
}

#score {
  font-size: large;
  /* border: none; */
}

#stopBtn {
  position: absolute;
  right: 100px;
  margin-top: 10px;
  text-align: center;
  font-size: large;
}

/* 효과 넣어줘야함 */
#showScore,
#wrong {
  visibility: hidden;
}

.showScoreClass {
  transition: 2s;
  display: block;
  position: absolute;
  font-size: 80px;
  color: red;

  animation: shake 0.1s ease-out infinite;
}

.showScoreClass,
.shaking {
  transition: 2s ease-out;
  transform: rotate(360deg);
  visibility: hidden;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
